table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th:last-child,
td:last-child {
  border-right: 0;
}
table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;

  color: white;
}
